<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/income}" method="post">
        <input type="number" name="amount" placeholder="Enter amount">
        <select name="categoryId" id="categoryId">
            <option selected value="">Selecct category</option>
            <option th:each="category : ${categoryNames}" th:value="${category.categoryId}">
                <spqn th:text="${category.categoryName}"></spqn>
            </option>
        </select>
        <input type="text" name="remarks" placeholder="Enter remarks">
        <input type="submit" name="submit">
    </form>
</body>

</html>