<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <head>
        <h1>User Dashboard</h1>
    </head>
    <nav>
        <ul>
            <li>Catagory</li>
            <li>Profile</li>
        </ul>
    </nav>
    <main>
        <div>
            <a th:href="@{/expenses}">
                <button>Add Income</button>
            </a>
            <a th:href="@{/income}">
                <button>Add Expenses</button>
            </a>
        </div>
    </main>
</body>

</html>