<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a th:href="@{/transaction}">Transaction</a></li>
            <li>Profile</li>
        </ul>
    </nav>
    <main>
        <div>
            <h1 th:text="${income}"></h1>
            <h1>Income</h1>
        </div>
        <div>
            <h1 th:text="${expenses}"></h1>
            <h1>Expenses</h1>

        </div>
        <div>
            <h1 th:text="${netIncome}"></h1>
            <h1>Net Income</h1>
        </div>
        <div>
            <a th:href="@{/expenses}">
                <button>Add Expenses</button>
            </a>
            <a th:href="@{/income}">
                <button>Add Income</button>
            </a>
        </div>
    </main>
</body>

</html>